@charset "utf-8";

// Customization

//Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";


//Set your own initial variables
$blue: #06bcef;
$pink: #ff8080;
$pink-invert: #fff;



//Set the derived variables
$primary: $pink;
$primary-invert: $pink-invert;

$navbar-height: 4rem;
$navbar-item-img-max-height: 65px;


//Import the rest of Bulma

//TODO: import only the components needed for the final site
@import "../node_modules/bulma/bulma";

@import "../css/pagani_styles.css";


